.cart_main{
  display: flex;
  flex-direction: column;
}
.cart_product{
  display: flex;
  box-shadow: 1px 1px 5px black;
  padding: 10px;
}

.cart_product_meta{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart_product_title{
  width: 50%;
}

.individualTotal{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 0 20px;
}

.cart_total{
  display: flex;
  justify-content: end;
  padding: 30px 60px;
}